<a href="https://colab.research.google.com/github/David-Sanchez-Perez/03MAIR---Algoritmos-de-optimizacion---2019/blob/master/Plantilla_Seminario_Algoritmos_2_convocatoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Algoritmos de optimización - Seminario<br>
Nombre y Apellidos: David Sánchez Pérez  <br>
Url: https://github.com/.../03MAIR---Algoritmos-de-Optimizacion---2019/tree/master/SEMINARIO<br>
Problema: Organizar los horarios de los partidos de La Liga
> 1. Elección de grupos de población homogéneos <br>
>2. Organizar los horarios de partidos de La Liga<br>
>3. Combinar cifras y operaciones

Desde la La Liga de fútbol profesional se pretende organizar los horarios de los partidos
de liga de cada jornada. Se conocen algunos datos que nos deben llevar a diseñar un
algoritmo que realice la asignación de los partidos a los horarios de forma que maximice
la audiencia.
• Los horarios disponibles se conocen a priori y son los siguientes:

Viernes 20

Sábado 12,16,18,20

Domingo 12,16,18,20

Lunes 20

En primer lugar se clasifican los equipos en tres categorías según el numero de
seguidores que tienen relación directa con la audiencia. Hay 4 equipos en la
categoría A, 10 equipos de categoría B y 6 equipos de categoría C.
• Se conoce estadisticamente la audiencia que genera cada partido según los equipos
que se enfrentan y en horario de sábado a las 20h (el mejor en todos los casos)

Categoría A Categoría B Categoría C

Categoría A 2 Millones 1,3 Millones 1 Millones

Categoría B 0.9 Millones 0.75 Millones

Categoría C 0.47 Millones

Si el horario del partido no se realiza a las 20 horas del sábado se sabe que se reduce
según los coeficientes de la siguiente tabla
• Debemos asignar obligatoriamente siempre un partido el viernes y un partido el lunes
Viernes Sábado Domingo Lunes

12h - 0.55 0.45 -

16h - 0.7 0.75 -

18h - 0.8 0.5 -

20h 0.4 1 1 0.4

Es posible la coincidencia de horarios pero en este
caso la audiencia de cada partido se verá afectada y
se estima que se reduce en porcentaje según la
siguiente tabla dependiendo del número de
coincidencias:

Coincidencias -%

0 0%

1 25%

2 45%

3 60%

4 70%

5 75%

6 78%

7 80%

8 80%



(*) La respuesta es obligatoria

# (*)¿Cuantas posibilidades hay sin tener en cuenta las restricciones?<br>

# (*)¿Cuantas posibilidades hay teniendo en cuenta todas las restricciones.<br>

# Respuesta

In [0]:
Sin tener en cuenta las restricciones, al haber 20 equipos significa que se jugarán 10 partidos, por lo tanto las posibilidades son N=10.

En cambio, con restricciones, el número posible de soluciones es N!=10!

# Modelo para el espacio de soluciones<br>
# (*) ¿Cual es la estructura de datos que mejor se adapta al problema? Argumentalo.(Es posible que hayas elegido una al principio y veas la necesidad de cambiar, arguentalo)

# Respuesta

In [0]:
Como vamos a tener que almacenar datos en un DataFrame vamos a utilizar Pandas y para realizar operaciones matemáticas utilizaremos Numpy. La estructura de datos va a tener las siguientes columnas:

- Categoría
- Equipos
- Público
- Día del partido
- Coeficiente horario

A continuación se puede observar:

In [0]:
# librerías que vamos a utilizar
import pandas as pd
import numpy as np
import itertools

In [0]:
#Creamos un diccionario a partir de las categorías de los equipos y la audiencia que va a tener
audiencia = {'AA':2e6,'AB':1.3e6,'AC':1e6,'BB':0.9e6,'BC':0.75e6,'CC':0.47e6} #Diccionario audiencia
audiencia #Mostramos el diccionario

{'AA': 2000000.0,
 'AB': 1300000.0,
 'AC': 1000000.0,
 'BB': 900000.0,
 'BC': 750000.0,
 'CC': 470000.0}

In [0]:
horarios = pd.DataFrame(columns=('dia','coef')) #Generamos un Dataframe con los horarios y el coeficiente de publico aplicado

horarios.loc[0]=['viernes_20h',0.4] #Rellenamos el dataframe
horarios.loc[1]=['sabado_12h',0.55]
horarios.loc[2]=['sabado_16h',0.7]
horarios.loc[3]=['sabado_18h',0.8]
horarios.loc[4]=['sabado_20h',1]
horarios.loc[5]=['domingo_12h',0.45]
horarios.loc[6]=['domingo_16h',0.75]
horarios.loc[7]=['domingo_18h',0.85]
horarios.loc[8]=['domingo_20h',1]
horarios.loc[9]=['lunes_20h',0.4]

horarios

           dia  coef
0  viernes_20h  0.40
1   sabado_12h  0.55
2   sabado_16h  0.70
3   sabado_18h  0.80
4   sabado_20h  1.00
5  domingo_12h  0.45
6  domingo_16h  0.75
7  domingo_18h  0.85
8  domingo_20h  1.00
9    lunes_20h  0.40

In [0]:
equipos = pd.DataFrame(columns=('nombre','categoria')) #Ahora generaremos un DataFrame con los equipos y su categoría

equipos.loc[0]=['Celta','B'] #Rellenamos el dataframe
equipos.loc[1]=['Real Madrid','A']
equipos.loc[2]=['Valencia','B']
equipos.loc[3]=['R.Sociedad','A']
equipos.loc[4]=['Mallorca','C']
equipos.loc[5]=['Eibar','C']
equipos.loc[6]=['Athletic','B']
equipos.loc[7]=['Barcelona','A']
equipos.loc[8]=['Leganés','C']
equipos.loc[9]=['Osasuna','C']
equipos.loc[10]=['Villareal','B']
equipos.loc[11]=['Granada','C']
equipos.loc[12]=['Alaves','B']
equipos.loc[13]=['Levante','B']
equipos.loc[14]=['Espanyol','B']
equipos.loc[15]=['Sevilla','B']
equipos.loc[16]=['Betis','B']
equipos.loc[17]=['Valladolid','C']
equipos.loc[18]=['Atlético','B']
equipos.loc[19]=['Getafe','B']

equipos

         nombre categoria
0         Celta         B
1   Real Madrid         A
2      Valencia         B
3    R.Sociedad         A
4      Mallorca         C
5         Eibar         C
6      Athletic         B
7     Barcelona         A
8       Leganés         C
9       Osasuna         C
10    Villareal         B
11      Granada         C
12       Alaves         B
13      Levante         B
14     Espanyol         B
15      Sevilla         B
16        Betis         B
17   Valladolid         C
18     Atlético         B
19       Getafe         B

In [0]:
#Crear jornada aleatoria
def aleatorio(equipos):
    df = equipos.iloc[np.random.permutation(len(equipos))] #ordenacion aleatoriaa través del módulo de numpy random permutation
    return df
jornada_aleatoria = aleatorio(equipos) #Llamada a función
jornada_aleatoria

         nombre categoria
18     Atlético         B
8       Leganés         C
7     Barcelona         A
3    R.Sociedad         A
12       Alaves         B
6      Athletic         B
15      Sevilla         B
14     Espanyol         B
0         Celta         B
19       Getafe         B
5         Eibar         C
9       Osasuna         C
2      Valencia         B
1   Real Madrid         A
16        Betis         B
13      Levante         B
10    Villareal         B
11      Granada         C
17   Valladolid         C
4      Mallorca         C

In [0]:
#Creamos la tabla de enfrentamientos de la jornada
def enfrentamientos(original):
    df_jornada = pd.DataFrame(columns=('categoria','publico','equipos')) #Creamos otro dataframe para guardar la categoría de ambos partidos, el público y los equipos
    #Luego lo concatenaremos con el horario
    for i in range(0,len(original),2): #Recorremos el dataframe de la jornada aleatoria de dos en dos ya que los partidos son 1 vs 1
        valor = original.iloc(axis=0)[i]['categoria'] #Guardamos el valor de categoría del equipo 1                        
        valor_1 = original.iloc(axis=0)[i+1]['categoria'] #Guardamos el valor de categoría del equipo 2
        if valor < valor_1: #Si el equipo 1 tiene menor categoría que el equipo 2
            cat = valor + valor_1 #Sumamos la categoría
            aud= audiencia[cat] #el público total viene definido en el diccionario audiencia que creamos antes
            partido = original.iloc(axis=0)[i]['nombre'] + '  vs  '+ original.iloc(axis=0)[i+1]['nombre']# columna para poner los partidos
        else:#Si el equipo 1 tiene mayor categoría que el equipo 2
            cat = valor_1 + valor # Hacemos lo mismo que anteriormente
            aud= audiencia[cat]
            partido = original.iloc(axis=0)[i+1]['nombre'] + ' vs '+ original.iloc(axis=0)[i]['nombre']

        # Rellenamos el dataframe con las filas generadas
        df_jornada.loc[len(df_jornada)]=[cat,aud,partido]
    
    return df_jornada
        
jornada = enfrentamientos(jornada_aleatoria) #Llamada a función
jornada

  categoria    publico                  equipos
0        BC   750000.0    Atlético  vs  Leganés
1        AA  2000000.0  R.Sociedad vs Barcelona
2        BB   900000.0       Athletic vs Alaves
3        BB   900000.0      Espanyol vs Sevilla
4        BB   900000.0          Getafe vs Celta
5        CC   470000.0         Osasuna vs Eibar
6        AB  1300000.0  Real Madrid vs Valencia
7        BB   900000.0         Levante vs Betis
8        BC   750000.0   Villareal  vs  Granada
9        CC   470000.0   Mallorca vs Valladolid

In [0]:
#Usamos la función de calcular tiempo que vimos en clase para comparar luego con un algoritmo que lo mejore
from functools import wraps
from time import time
def calcular_tiempo(f):
    @wraps(f)
    def cronometro(*args, **kwargs):
        t_inicial = time()
        salida = f(*args, **kwargs)
        t_final = time()
        print('Tiempo transcurrido (en segundos): {}'.format(t_final - t_inicial))
        return salida
    return cronometro

In [0]:
jornada_FB=jornada.copy()
jornada_FB[['dia','coef']] = horarios
jornada_FB

  categoria    publico                  equipos          dia  coef
0        BC   750000.0    Atlético  vs  Leganés  viernes_20h  0.40
1        AA  2000000.0  R.Sociedad vs Barcelona   sabado_12h  0.55
2        BB   900000.0       Athletic vs Alaves   sabado_16h  0.70
3        BB   900000.0      Espanyol vs Sevilla   sabado_18h  0.80
4        BB   900000.0          Getafe vs Celta   sabado_20h  1.00
5        CC   470000.0         Osasuna vs Eibar  domingo_12h  0.45
6        AB  1300000.0  Real Madrid vs Valencia  domingo_16h  0.75
7        BB   900000.0         Levante vs Betis  domingo_18h  0.85
8        BC   750000.0   Villareal  vs  Granada  domingo_20h  1.00
9        CC   470000.0   Mallorca vs Valladolid    lunes_20h  0.40

# Según el modelo para el espacio de soluciones<br>
# (*)¿Cual es la función objetivo?

# (*)¿Es un problema de maximización o minimización?

# Respuesta

In [0]:
La función objetivo es de tipo lineal:
f(x1,...,xn)= h1·x1 + ... + hn·xn
Siendo x las audiencias de los partidos según la categoría y h el coeficiente según el horario

El problema es de maximicación porque tal y como se ha explicado en el apartado anterior, se busca que la audiencia de cada jornada sea máxima

# Diseña un algoritmo para resolver el problema por fuerza bruta

# Algoritmo por fuerza bruta

In [0]:
@calcular_tiempo
def fuerza_bruta(col): #Función para buscar por fuerza bruta la jornada con más audiencia
    result=0 #Valor inicial
    maxima=0 #Valor inicial
    for i in list(itertools.permutations(col)): #Hacemos todas las permutaciones posibles
        result=audiencia(i) #Calculamos la audiencia
        if result>maxima: #Si la nueva audiencia supera a la anterior
            maxima=result #Guardamos la audienca
            jornada_FB['publico max']=i #Guardamos el orden del público en una nueva columna
    return maxima

In [0]:
def audiencia(df):
    result=0 #Variable para contar el número de espectadores
    for i in range(len(df)):# recorremos la jornada
        result+=df[i]*jornada_FB.iloc(axis=0)[i]['coef'] #multiplicamos la audiencia por el coeficiente de horario
    return result

In [0]:
total=fuerza_bruta(jornada_FB['publico'])
print("La audiencia máxima son",total,"espectadores")
jornada_FB

Tiempo transcurrido (en segundos): 13739.62189745903
La audiencia máxima son 7216000.0 espectadores

,categoria,publico,equipos,dia,coef,publico max
0,BC,750000.0,Atlético vs Leganés,viernes_20h,0.40,470000.0
1,AA,2000000.0,R.Sociedad vs Barcelona,sabado_12h,0.55,750000.0
2,BB,900000.0,Athletic vs Alaves,sabado_16h,0.70,900000.0
3,BB,900000.0,Espanyol vs Sevilla,sabado_18h,0.80,900000.0
4,BB,900000.0,Getafe vs Celta,sabado_20h,1.00,2000000.0
5,CC,470000.0,Osasuna vs Eibar,domingo_12h,0.45,750000.0
6,AB,1300000.0,Real Madrid vs Valencia,domingo_16h,0.75,900000.0
7,BB,900000.0,Levante vs Betis,domingo_18h,0.85,900000.0
8,BC,750000.0,Villareal vs Granada,domingo_20h,1.00,1300000.0
9,CC,470000.0,Mallorca vs Valladolid,lunes_20h,0.40,470000.0

Como la columna de publico max ha cambiado respecto a la columna publico anterior. Reordenamos la tabla para que cuadren las categorías y partidos como antes pero ahora con la columna público max

In [0]:
#Generamos dos columnas nuevas para ordenar la categoría y equipos
jornada_FB['categoria max']=np.arange(0,len(jornada_FB['dia'])) 
jornada_FB['equipos max']=np.arange(0,len(jornada_FB['dia']))
k=np.ones(len(jornada_FB['dia'])) #Generamos un array para almacenar las j que ya se hayan chequeado y así no repetirlas
k=k*((len(jornada_FB['dia']))+1) #Le damos un valor alto para que al sustituirlas no coincida con una j de la columna
#Buscamos el valor de público antiguo respecto a la posición de "publico max"
for i in range (len(jornada_FB['dia'])):
    j=0
    while j<(len(jornada_FB['dia'])):
        if (jornada_FB.iloc[j]['publico']==jornada_FB.iloc[i]['publico max']) and j not in k: #Cuando sean iguales y lo haya encontrado
            #Reemplazamos las posiciones en una nueva columna
            jornada_FB.loc[i,'categoria max']=jornada_FB.loc[j,'categoria']
            jornada_FB.loc[i,'equipos max']=jornada_FB.loc[j,'equipos']
            k[i]=j #Almacenamos la j vista en el array
            j=len(jornada_FB['dia']) #Como ya lo ha encontrado saltamos a la siguiente fila de público
        else:
            j+=1
            
#Borramos las columnas antiguas
del jornada_FB['categoria']
del jornada_FB['publico']
del jornada_FB['equipos']
#Volvemos a ordenar las columnas
jornada_FB=jornada_FB[['categoria max','equipos max', 'publico max','dia','coef']]

print("La audiencia máxima es ",total,"espectadores")
print ("Y la jornada es: \n")
jornada_FB

La audiencia máxima es  7216000.0 espectadores
Y la jornada es:

  categoria max              equipos max  publico max          dia  coef
0            CC         Osasuna vs Eibar     470000.0  viernes_20h  0.40
1            BC    Atlético  vs  Leganés     750000.0   sabado_12h  0.55
2            BB       Athletic vs Alaves     900000.0   sabado_16h  0.70
3            BB      Espanyol vs Sevilla     900000.0   sabado_18h  0.80
4            AA  R.Sociedad vs Barcelona    2000000.0   sabado_20h  1.00
5            BC   Villareal  vs  Granada     750000.0  domingo_12h  0.45
6            BB          Getafe vs Celta     900000.0  domingo_16h  0.75
7            BB         Levante vs Betis     900000.0  domingo_18h  0.85
8            AB  Real Madrid vs Valencia    1300000.0  domingo_20h  1.00
9            CC   Mallorca vs Valladolid     470000.0    lunes_20h  0.40

# Calcula la complejidad del algoritmo por fuerza bruta

# Respuesta

La complejidad es del tipo O(n²) ya que recorremos dos bucles for para ver todas las posibilidades por fuerza bruta.

# (*)Diseña un algoritmo que mejore la complejidad del algortimo por fuerza bruta. Argumenta porque crees que mejora el algoritmo por fuerza bruta

Como se puede observar en el algoritmo por fuerza bruta, la jornada con más audiencia es aquella en la que se asigna el máximo número de público al máximo coeficiente. Por lo tanto se tendría simplemente que ordenar la columna de público máximo y de coeficiente máximo mediante un algoritmo quick-short

# Respuesta

In [0]:
@calcular_tiempo
def quick_sort(df, col):  #Algoritmo quicksort visto en clase en la AG1 pero con la modificación de no usar un list al final

    if len(df) == 1: #Cuando solo quede un valor a la izq devolveremos el valor, ya que significa que es el más grande
        return df
  
    elif len(df) == 2: #Cuando queden dos valores a la izq devolveremos el máximo de ambos primero y luego el menor
    
        if df.iloc(axis=0)[0][col] > df.iloc(axis=0)[1][col]: #Si es mayor
            return df
        else:
            return pd.DataFrame([df.iloc(axis=0)[1], df.iloc(axis=0)[0]])
    
    else: #Si el df contiene más de dos valores
        izq = pd.DataFrame(columns=df.columns) #Creamos el df izq
        der = pd.DataFrame(columns=df.columns) #Creamos el df der

        pivote = (df.loc(axis =1)[col].sum())/len(df) # Calculamos el pivote haciendo la media de la columna a ordenar

        for i in range(len(df)): #Recorremos la columna

            if df.iloc(axis=0)[i][col] >= pivote: #Si es mayor o igual que el pivote lo mandamos a la izquierda
                izq = izq.append(df.iloc(axis=0)[i]) #Lo añadimos a la izquierda
        
            else: #Si es menor que el pivote lo mandamos a la derecha
                der = der.append(df.iloc(axis=0)[i])
        

        if len(izq)!=0 and len(der)!=0: #Mientras haya valores por ordenar a izquierda o derecha haremos una recursividad para ir ordenandolos cuantas veces sea necesario
      
            df_I = quick_sort(izq,col) #ordenamos los valores a la izquierda
            df_D = quick_sort(der,col) #ordenamos los valores a la derecha
      
            return  df_I.append(df_D) #devolvemos el df concatenado de izquierda a derecha
    
        else:
            return df
        
coef_ord = quick_sort(horarios,'coef') #Ordenamos los coeficientes de los horarios
equipos_ord = quick_sort(jornada,'publico') #Ordenamos las categorías de los partidos

equipos_ord.index = coef_ord.index #Igualamos los indices para concatenarlos

equipos_ord[['dia','coef']] = coef_ord #Concatenamos las tablas
equipos_ord

Tiempo transcurrido (en segundos): 0.0060002803802490234
Tiempo transcurrido (en segundos): 0.0010001659393310547
Tiempo transcurrido (en segundos): 0.04600262641906738
Tiempo transcurrido (en segundos): 0.0030002593994140625
Tiempo transcurrido (en segundos): 0.0
Tiempo transcurrido (en segundos): 0.04600238800048828
Tiempo transcurrido (en segundos): 0.15100860595703125
Tiempo transcurrido (en segundos): 0.0
Tiempo transcurrido (en segundos): 0.0
Tiempo transcurrido (en segundos): 0.005000591278076172
Tiempo transcurrido (en segundos): 0.039002418518066406
Tiempo transcurrido (en segundos): 0.08000445365905762
Tiempo transcurrido (en segundos): 0.3280186653137207
Tiempo transcurrido (en segundos): 0.002000093460083008
Tiempo transcurrido (en segundos): 0.04800248146057129
Tiempo transcurrido (en segundos): 0.0070002079010009766
Tiempo transcurrido (en segundos): 0.009000301361083984
Tiempo transcurrido (en segundos): 0.08600497245788574
Tiempo transcurrido (en segundos): 0.24301385879516602
Tiempo transcurrido (en segundos): 0.37302136421203613

  categoria    publico                  equipos          dia  coef
8        AA  2000000.0  R.Sociedad vs Barcelona  domingo_20h  1.00
4        AB  1300000.0  Real Madrid vs Valencia   sabado_20h  1.00
7        BB   900000.0       Athletic vs Alaves  domingo_18h  0.85
3        BB   900000.0      Espanyol vs Sevilla   sabado_18h  0.80
6        BB   900000.0          Getafe vs Celta  domingo_16h  0.75
2        BB   900000.0         Levante vs Betis   sabado_16h  0.70
1        BC   750000.0   Villareal  vs  Granada   sabado_12h  0.55
5        BC   750000.0    Atlético  vs  Leganés  domingo_12h  0.45
9        CC   470000.0   Mallorca vs Valladolid    lunes_20h  0.40
0        CC   470000.0         Osasuna vs Eibar  viernes_20h  0.40

In [0]:
result=0 #Variable para contar el número de espectadores
for i in range(len(equipos_ord)):# recorremos la jornada
    result+=equipos_ord.iloc(axis=0)[i]['coef']* (equipos_ord.iloc(axis=0)[i]['publico']) #multiplicamos la audiencia por el coeficiente de horario
print("La maxima audiencia de la jornada será = ", result ,"espectadores") #Mostramos el resultado

La maxima audiencia de la jornada será =  7216000.0 espectadores

El algoritmo quick short mejora muchísimo al de fuerza bruta como vemos en el tiempo transcurrido como la diferencia es de apenas décimas de segundos con horas. Esto es debido a que la complejidad computacional es mucho menor tal y como veremos en el siguiente apartado

# (*)Calcula la complejidad del algoritmo

# Respuesta

In [0]:
La complejidad del algoritmo quickshort es de O(n·log(n)) que es la que se utiliza para ordenar los coeficientes de los horarios y público de menor a mayor

# Según el problema (y tenga sentido), diseña un juego de datos de entrada aleatorios

# Respuesta

In [0]:
#Tal como hemos hecho anteriormente
jornada_aleatoria = aleatorio(equipos)
jornada_aleatoria

         nombre categoria
6      Athletic         B
5         Eibar         C
3    R.Sociedad         A
0         Celta         B
9       Osasuna         C
12       Alaves         B
17   Valladolid         C
19       Getafe         B
10    Villareal         B
4      Mallorca         C
2      Valencia         B
1   Real Madrid         A
15      Sevilla         B
16        Betis         B
11      Granada         C
14     Espanyol         B
18     Atlético         B
13      Levante         B
7     Barcelona         A
8       Leganés         C

# Aplica el algoritmo al juego de datos generado


# Respuesta

In [0]:
Ya se ha resuelto tanto en el algoritmo de fuerza bruta como en el de quick short

# Enumera las referencias que has utilizado(si ha sido necesario) para llevar a cabo el trabajo

# Respuesta

Las únicas referencias utilizadas han sido los apuntes de la asignatura de python y los apuntes de esta asignatura de algoritmos de optimización.

# Describe brevemente las lineas de como crees que es posible avanzar en el estudio del problema. Ten en cuenta incluso posibles variaciones del problema y/o variaciones al alza del tamaño

# Respuesta

Una buena mejora sería hacer un algoritmo de ramificación y poda para eliminar opciones en el algoritmo por fuerza bruta y/o elegir un algoritmo de ordenación que mejorase el tiempo del quick short